@{
    ViewData["Title"] = "Select SQL maker";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Drag Multiple Elements</title>
    <style>
        body{ background: #efefef;}
        #container {
            width: 100vh;
            height: 900px;
            position:relative;
            background-color: #efefef;
            border-radius: 7px;
            touch-action: none;
        }
        .item{  width:500px; }
 
        .dropdown {position: relative;display: inline-block; }

        .dropdown-content {display: none; position: absolute;
            background-color: #f1f1f1;  min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}

        .dropdown-content a { color: black; padding: 12px 16px;text-decoration: none; display: block; }
        .dropdown-content a:hover { background-color: #ddd;  }
        .dropdown:hover .dropdown-content {  display: block; }
        .dropdown:hover .dropbtn { background-color: #3e8e41; }
        .tableBody{ width : 605px;  background-color: rgba(0,0,0,0.2); }

        .modal {
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

/* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

/* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
</style>
</head>
<body>
    <button id="myBtn" onclick="onOffModal()">Open Modal</button>

    <div>
        <p class="stepLeft">
            <span>
                Select Your SQL :
                <select id="sqlType" onclick="tableDisplayChangeAsTableType(this)">
                    <option value="MySQL">MySQL</option>
                    <option value="MsSQL">MsSQL</option>
                    <option value="Oracle">Oracle</option>
                    <option value="SQLServer">SQLServer</option>
                </select>
                Erd Name :
                <input size="20" />
            </span>
        </p>
        <div id="container">
            <div id="" class="tableBody" style="display:block;">
                <div class="item" style="width:100%; border: 2px solid rgba(136, 136, 136, .5); ">
                    Table Name :
                    <input type="text" size="10" oninput="changeParentElementName(this)" />
                    <div class="dropdown" style=" float:right;">
                        <button>Menu</button>
                        <div class="dropdown-content">
                            <a href="#" onclick="getCreateTableSQLCode(this)">Create Table SQL</a>
                            <a href="#" onclick="getSelectTableSQLCode(this)">Create Select SQL</a>
                            <a href="#" onclick="deleteTable(this)">Delete SQL Table</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="width:100%; border-left: 2px solid rgba(136, 136, 136, .5); border-right: 2px solid rgba(136, 136, 136, .5); ">
                    Description :
                    <input type="text" size="40" />
                </div>
                <table class="stepInput" id="" tabindex="213" border="1" cellpadding="3">
                    <thead>
                        <tr>
                            <th>Column Name
                            <th>Datatype
                            <th>PK
                            <th>NN
                            <th>UQ
                            <th>B&nbsp;&nbsp;
                            <th>UN
                            <th>ZF
                            <th>AI&nbsp;
                            <th>G&nbsp;&nbsp;
                            <th><input class="stepInput" id="Id_Of_Textbox" style="float:left;" size="100" type="button" value="&nbsp;&nbsp;Add&nbsp;&nbsp;" onclick="tableNewColumnMaker(this)" />
                        </tr>
                        <tr>
                            <td headers="cname"> <input type="text" value="" size="10" /></td>
                            <td headers="dateType">
                                <input type="text" list="typelist" value="" />
                                <datalist id="typelist">
                                    <option value="VARCHAR()">VARCHAR(SIZE)</option>
                                    <option value="INT">INT</option>
                                    <option value="DECIMAL()">DECIMAL(SIZE)</option>
                                    <option value="DATETIME">DATETIME</option>
                                    <option value="BLOB">BLOB</option>
                                </datalist>

                            </td>
                            <td headers="pk"><input type="checkbox" onclick="primaryKeyCheckBoxClick(this)" size="10" style="float:left;"></td>
                            <td headers="nn"><input type="checkbox" onclick="notNullCheckBoxClick(this)" size="10" style="float:left;"></td>
                            <td headers="uq"><input type="checkbox" size="10" style="float:left;"></td>
                            <td headers="b"><input type="checkbox" onclick="binaryCheckBoxClick(this)" size="10" style="float:left;"></td>
                            <td headers="un"><input type="checkbox" onclick="unsignIntAndZeroFillCheckBoxClick(this)" size="10" style="float:left;"></td>
                            <td headers="zf"><input type="checkbox" onclick="zfCheckboxClick(this)" size="10" style="float:left;"></td>
                            <td headers="ai"><input type="checkbox" onclick="autoIncreaseCheckBoxClick(this)" size="10" style="float:left;"></td>
                            <td headers="g"><input type="checkbox" onclick="autoIncreaseCheckBoxClick(this)" size="10" style="float:left;"></td>
                            <td headers="deleteButton"><input type="button" onclick="tableColumnDelete(this)" value="Delete" size="100" style="float:left;"></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal" style="  display: none; ">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="onOffModal()">&times;</span>
            <p id="resultSQL">Some text in the Modal..</p>
        </div>
    </div>
    <script src="~/js/sqlMaker.js" asp-append-version="true"></script>
    
    <script src="~/js/tableElementController.js" asp-append-version="true"></script>
    <script src="~/js/elementMovement.js" asp-append-version="true"></script>

    <script src="~/js/menu.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>








