<!DOCTYPE html>
<html>
<head  runat="server">
    <meta charset="UTF-8">
</head>
<body>
    <form id="form1" runat="server">
        <div style="width : 1100px;">
            <!--------------------------------Create SQL --------------------------------------------------->
            <div class="fream upDown" ; style="border: 1px solid gold; width : 1100px; height : auto; margin : 4px;">
                <div>
                    <h2>
                        Create Table.
                    </h2>
                </div>
                <div class="fream upDown">
                    <h4 class="step">
                        Step 1.
                    </h4>
                    <p class="stepLeft">
                        Select Your SQL :
                        <select id="sqlType" onclick="sqlTypeSelect(this)">
                            <option value="MySQL">MySQL</option>
                            <option value="MsSQL">MsSQL</option>
                            <option value="Oracle">Oracle</option>
                            <option value="SQLServer">SQLServer</option>
                        </select>
                    </p>
                    <h4 class="step">
                        Step 2.
                    </h4>
                    <p class="stepLeft">
                        Table Name :
                        <input id="tableName" />
                    </p>
                    <h4 class="step">
                        Step 3.
                    </h4>
                    <p class="stepLeft">
                        Make your database Column
                    </p>
                    <p>
                        <input class="stepInput" id="Id_Of_Textbox" type="button" value="Add New Column" onclick="newColumnMaker()" />
                        <div id="MySQLTable" style="display:block;">
                            <table class="stepInput" id="MySQLtableMaker" tabindex="213" border="1" cellpadding="3">
                                <thead>
                                    <tr>
                                        <th>Column Name
                                        <th>Datatype
                                        <th>PK
                                        <th>NN
                                        <th>UQ
                                        <th>B&nbsp;&nbsp;
                                        <th>UN
                                        <th>ZF
                                        <th>AI&nbsp;
                                        <th>G&nbsp;&nbsp;
                                        <th>DeleteColumn
                                    </tr>
                                    <tr>
                                        <td headers="cname"> <input type="text" size="10" /></td>
                                        <td headers="dateType">
                                            <input type="text" list="typelist" oninput="columnTypeSelect(this)" />
                                            <datalist id="typelist">
                                                <option value="VARCHAR()">VARCHAR(SIZE)</option>
                                                <option value="INT">INT</option>
                                                <option value="DECIMAL()">DECIMAL(SIZE)</option>
                                                <option value="DATETIME">DATETIME</option>
                                                <option value="BLOB">BLOB</option>
                                            </datalist>

                                        </td>
                                        <td headers="pk"><input type="checkbox" onclick="pkCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="nn"><input type="checkbox" onclick="nnCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="uq"><input type="checkbox" size="10" style="float:left;"></td>
                                        <td headers="b"><input type="checkbox" onclick="bCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="un"><input type="checkbox" onclick="unzfCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="zf"><input type="checkbox" onclick="zfCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="ai"><input type="checkbox" onclick="aiAndgCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="g"><input type="checkbox" onclick="aiAndgCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="deleteButton"><input type="button" onclick="columnDelete(this)" value="Delete Button" size="100" style="float:left;"></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="MsSQLTable" style="display:none;">
                            <table class="stepInput" id="MsSQLtableMaker" tabindex="213" border="1" cellpadding="3">
                                <thead>
                                    <tr>
                                        <th>Column Name
                                        <th>Datatype
                                        <th>PK
                                        <th>NN
                                        <th>UQ
                                        <th>AI&nbsp;
                                        <th>DeleteColumn
                                    </tr>
                                    <tr>
                                        <td headers="cname"> <input type="text" size="10" /></td>
                                        <td headers="dateType">
                                            <input type="text" list="Mslist" oninput="columnTypeSelect(this)" />
                                            <datalist id="Mslist">
                                                <option value="VARCHAR()">VARCHAR(SIZE)</option>
                                                <option value="INT">INT</option>
                                                <option value="DECIMAL()">DECIMAL(SIZE)</option>
                                                <option value="DATETIME">DATETIME</option>
                                                <option value="BLOB">BLOB</option>
                                            </datalist>

                                        </td>
                                        <td headers="pk"><input type="checkbox" onclick="pkCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="nn"><input type="checkbox" onclick="nnCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="uq"><input type="checkbox" size="10" style="float:left;"></td>
                                        <td headers="ai"><input type="checkbox" onclick="aiAndgCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="deleteButton"><input type="button" onclick="columnDelete(this)" value="Delete Button" size="100" style="float:left;"></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="OracleTable" style="display:none;">
                            <table class="stepInput" id="OracletableMaker" tabindex="213" border="1" cellpadding="3">
                                <thead>
                                    <tr>
                                        <th>Column Name
                                        <th>Datatype
                                        <th>PK
                                        <th>NN
                                        <th>UQ
                                        <th>AI&nbsp;
                                        <th>DeleteColumn
                                    </tr>
                                    <tr>
                                        <td headers="cname"> <input type="text" size="10" /></td>
                                        <td headers="dateType">
                                            <input type="text" list="oraclelist" oninput="columnTypeSelect(this)" />
                                            <datalist id="oraclelist">
                                                <option value="VARCHAR()">VARCHAR(SIZE)</option>
                                                <option value="NUMBER">NUMBER</option>
                                                <option value="DECIMAL()">DECIMAL(SIZE)</option>
                                                <option value="DATETIME">DATETIME</option>
                                                <option value="BLOB">BLOB</option>
                                            </datalist>

                                        </td>
                                        <td headers="pk"><input type="checkbox" onclick="pkCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="nn"><input type="checkbox" onclick="nnCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="uq"><input type="checkbox" size="10" style="float:left;"></td>
                                        <td headers="ai"><input type="checkbox" onclick="aiAndgCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="deleteButton"><input type="button" onclick="columnDelete(this)" value="Delete Button" size="100" style="float:left;"></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="SQLServerTable" style="display:none;">
                            <table class="stepInput" id="SQLServertableMaker" tabindex="213" border="1" cellpadding="3">
                                <thead>
                                    <tr>
                                        <th>Column Name
                                        <th>Datatype
                                        <th>PK
                                        <th>NN
                                        <th>UQ
                                        <th>AI&nbsp;
                                        <th>DeleteColumn
                                    </tr>
                                    <tr>
                                        <td headers="cname"> <input type="text" size="10" /></td>
                                        <td headers="dateType">
                                            <input type="text" list="SQLServerlist" oninput="columnTypeSelect(this)" />
                                            <datalist id="SQLServerlist">
                                                <option value="VARCHAR()">VARCHAR(SIZE)</option>
                                                <option value="INT">INT</option>
                                                <option value="DECIMAL()">DECIMAL(SIZE)</option>
                                                <option value="DATETIME">DATETIME</option>
                                                <option value="BLOB">BLOB</option>
                                            </datalist>

                                        </td>
                                        <td headers="pk"><input type="checkbox" onclick="pkCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="nn"><input type="checkbox" onclick="nnCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="uq"><input type="checkbox" size="10" style="float:left;"></td>
                                        <td headers="ai"><input type="checkbox" onclick="aiAndgCheckboxClick(this)" size="10" style="float:left;"></td>
                                        <td headers="deleteButton"><input type="button" onclick="columnDelete(this)" value="Delete Button" size="100" style="float:left;"></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <input class="stepInput" id="testBox" type="button" value="Make SQL" onclick="tableSqlMaker()" />
                    </p>

                </div>
                <div class="fream upDown">
                    <h4 class="step">
                        Step 4.
                    </h4>
                    <p class="stepLeft" id="resultSql">
                        &ensp;CREATE TABLE 테이블 이름 (<br>
                        &ensp;&emsp;컬럼명1 DATATYPE [DEFAULT 형식],<br>
                        &ensp;&emsp;컬럼명2 DATATYPE [DEFAULT 형식],<br>
                        &ensp;&emsp;컬럼명3 DATATYPE [DEFAULT 형식]<br>
                        &ensp;);<br>
                    </p>
                </div>
            </div>

            <!--------------------------------SQL Description--------------------------------------------------->
            <div class="fream upDown" ; style="border: 1px solid gold; width : 1100px; height : auto; margin : 4px;">
                <a class="fream" style="display:block;" onclick="openPage(this)" href="javascript:void(0)">
                    Read About SQL
                </a>
                <div style="display : none; border: 1px solid gold; height : auto;">
                    <h1>
                        SQL
                    </h1>
                    <p style="padding:20px;">
                         종류로는 여러가지가 존재하고 있지만 NoSQL을 포함하지 않는 대표적인 SQL은 약 4가지가 존재한다.
                    </p>
                    <div class="stepLeft" style="margin-top:20px;">
                        <h4>
                            ㆍ&nbsp;&nbsp;MySQL
                        </h4>
                        <div class="stepLeft">
                            <div>
                                
                                <img src="~/mysql.png"  style="margin:50px; width:400px;height:200px";>

                                <p>
                                    MySQL은  전세계적으로 가장 널리 사용되고 있는 오픈 소스 데이터베이스이며, MySQL AB사가 개발하여 배포/판매하고 있는 데이터베이스이다.
                                    <a href="http://www.mysql.com/">http://www.mysql.com/</a> 에서는 MySQL 데이터베이스에 대한 가장 최신의 정보를 제공하고 있으며, 
                                    또한 이러한 정보는 <a href="www.mysqlkorea.com">www.mysqlkorea.com/</a> 에서 참조할 수 있을 것이다.
                                </p>

                                <p>
                                    <br /><br />대표적인 4가지 특징
                                </p>
                                <p>ㆍ&nbsp;&nbsp;MySQL은 데이터베이스 관리 시스템이다.</p>
                                <p>ㆍ&nbsp;&nbsp;MySQL은 관계형 데이터베이스 관리 시스템이다.</p>
                                <p>ㆍ&nbsp;&nbsp;MySQL 소프트웨어는 오픈 소스이다.</p>
                                <p>ㆍ&nbsp;&nbsp;MySQL 서버는 클라이언트/서버 또는 임베디드 시스템에서 사용할 수 있다.</p>
                            </div>
                            <div>
                                <p><br /><br />공식 사이트 바로가기<br/> <a href="https://www.mysql.com/">MySql Site</a></p>
                            </div>
                            <div>
                                <p>설치 바로가기<br />   <a href="https://www.mysql.com/downloads/">MySql Download</a></p>
                             
                            </div>
                        </div>
                    </div>
                    <div class="stepLeft">
                        <h4>
                            ㆍ&nbsp;&nbsp;MsSQL
                        </h4>
                        <p class="stepLeft">
                            MsSQL explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <h4 class="step">
                            ㆍ&nbsp;&nbsp;Oracle
                        </h4>
                        <p class="stepLeft">
                            sql explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <h4 class="step">
                            ㆍ&nbsp;&nbsp;SQLServer
                        </h4>
                        <p class="stepLeft">
                            sql explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <a style="padding-top:10px; display:block;" onclick="closePage(this)" href="javascript:void(0)">
                            Close Description
                        </a>
                    </div>
                </div>
            </div>

            <!--------------------------------SQL Column Description-------------------------------------------->
            <div class="fream upDown" ; style="border: 1px solid gold; width : 1100px; height : auto; margin : 4px;">
                <a class="fream" style="display:block;" onclick="openPage(this)" href="javascript:void(0)">
                    Read About Column
                </a>
                <div style="display : none; border: 1px solid gold; width : 1100px; height : auto;">
                    <h2>
                        Column
                    </h2>
                    <div class="stepLeft">
                        <h4>
                            Column Name
                        </h4>
                        <p class="stepLeft">
                            Column Name
                        </p>
                    </div>
                    <div class="stepLeft">
                        <h4>
                            Data Type
                        </h4>
                        <p class="stepLeft">
                            Data Type
                        </p>
                    </div>
                    <div class="stepLeft">
                        <h4 class="step">
                            Other
                        </h4>
                        <p class="stepLeft">
                            sql explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <a style="padding-top:10px; display:block;" onclick="closePage(this)" href="javascript:void(0)">
                            Close Description
                        </a>
                    </div>
                </div>
            </div>

            <!--------------------------------SQL Query Description--------------------------------------------->
            <div class="fream upDown" ; style="border: 1px solid gold; width : 1100px; height : auto; margin : 4px;">
                <a class="fream" style="display:block;" onclick="openPage(this)" href="javascript:void(0)">
                    Read About SQL Query
                </a>
                <div style="display : none; border: 1px solid gold; width : 1100px; height : auto;">
                    <h2>
                        SQL Query
                    </h2>
                    <div class="stepLeft">
                        <h4>
                            Create
                        </h4>
                        <p class="stepLeft">
                            sql explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <a style="padding-top:10px; display:block;" onclick="closePage(this)" href="javascript:void(0)">
                            Close Description
                        </a>
                    </div>
                </div>
            </div>

        </div>
          <link rel="stylesheet" href="~/css/sqlMaker.css" />
          <script src="~/js/sqlMaker.js" asp-append-version="true"></script>
          <script src="~/js/htmlController.js" asp-append-version="true"></script>
        </form>
    </body>
</html>




