<!DOCTYPE html>
<html>
<head  runat="server">
    <meta charset="UTF-8">
</head>
<body>
    <form id="form1" runat="server">
        <div style="width : 1100px;">
            <!--------------------------------Create SQL --------------------------------------------------->
            <div class="fream upDown" ; style="border: 1px solid gold; width : 1100px; height : auto; margin : 4px;">
                <div>
                    <h2>
                        Create Table.
                    </h2>
                </div>
                <div class="fream upDown">
                    <h4 class="step">
                        Step 1.
                    </h4>
                    <p class="stepLeft">
                        Select Your SQL :
                        <select id="sqlType">
                            <option value="MySQL">MySQL</option>
                            <option value="MMSQL">MMSQL</option>
                            <option value="Oracle">Oracle</option>
                            <option value="SQLServer">SQL Server</option>
                        </select>
                    </p>
                    <h4 class="step">
                        Step 2.
                    </h4>
                    <p class="stepLeft">
                        Table Name :
                        <input id="tableName" />
                    </p>
                    <h4 class="step">
                        Step 3.
                    </h4>
                    <p class="stepLeft">
                        Make your database Column
                    </p>
                    <p>
                        <input class="stepInput" id="Id_Of_Textbox" type="button" value="Add New Column" onclick="newColumnMaker()" />
                        <table class="stepInput" id="tableMaker" tabindex="213" border="1" cellpadding="3">
                            <thead>
                                <tr>
                                    <th id="cname">Column Name
                                    <th id="dateType">Datatype
                                    <th id="pk">PK
                                    <th id="nn">NN
                                    <th id="nq">UQ
                                    <th id="b">B&nbsp;&nbsp;
                                    <th id="un">UN
                                    <th id="zf">ZF
                                    <th id="ai">AI&nbsp;
                                    <th id="g">G&nbsp;&nbsp;
                                    <th id="deleteButton">DeleteColumn
                                </tr>
                                <tr>
                                    <td headers="cname"> <input type="text" size="10" /></td>
                                    <td headers="dateType">
                                        <input type="text" list="typelist" oninput="columnTypeSelect(this)" />
                                        <datalist id="typelist">
                                            <option value="VARCHAR()">VARCHAR(SIZE)</option>
                                            <option value="INT">INT</option>
                                            <option value="DECIMAL()">DECIMAL(SIZE)</option>
                                            <option value="DATETIME">DATETIME</option>
                                            <option value="BLOB">BLOB</option>
                                        </datalist>

                                    </td>
                                    <td headers="pk"><input type="checkbox" onclick="pkCheckboxClick(this)" size="10" style="float:left;"></td>
                                    <td headers="nn"><input type="checkbox" onclick="nnCheckboxClick(this)" size="10" style="float:left;"></td>
                                    <td headers="uq"><input type="checkbox" size="10" style="float:left;"></td>
                                    <td headers="b"><input type="checkbox" onclick="bCheckboxClick(this)" size="10" style="float:left;"></td>
                                    <td headers="un"><input type="checkbox" onclick="unzfCheckboxClick(this)" size="10" style="float:left;"></td>
                                    <td headers="zf"><input type="checkbox" onclick="zfCheckboxClick(this)" size="10" style="float:left;"></td>
                                    <td headers="ai"><input type="checkbox" onclick="aiAndgCheckboxClick(this)" size="10" style="float:left;"></td>
                                    <td headers="g"><input type="checkbox" onclick="aiAndgCheckboxClick(this)" size="10" style="float:left;"></td>
                                    <td headers="deleteButton"><input type="button" onclick="columnDelete(this)" value="Delete Button" size="100" style="float:left;"></td>
                                </tr>
                            </thead>
                        </table>
                        <input class="stepInput" id="testBox" type="button" value="Make SQL" onclick="tableSqlMaker()" />
                    </p>

                </div>
                <div class="fream upDown">
                    <h4 class="step">
                        Step 4.
                    </h4>
                    <p class="stepLeft" id="resultSql">
                        &ensp;CREATE TABLE 테이블 이름 (<br>
                        &ensp;&emsp;컬럼명1 DATATYPE [DEFAULT 형식],<br>
                        &ensp;&emsp;컬럼명2 DATATYPE [DEFAULT 형식],<br>
                        &ensp;&emsp;컬럼명3 DATATYPE [DEFAULT 형식]<br>
                        &ensp;);<br>
                    </p>
                </div>
            </div>

            <!--------------------------------SQL Description--------------------------------------------------->
            <div class="fream upDown" ; style="border: 1px solid gold; width : 1100px; height : auto; margin : 4px;">
                <a class="fream" style="display:block;" onclick="openPage(this)" href="javascript:void(0)">
                    Read About SQL
                </a>
                <div style="display : none; border: 1px solid gold; width : 1100px; height : auto;">
                    <h2>
                        SQL
                    </h2>
                    <div class="stepLeft">
                        <h4>
                            MySQL
                        </h4>
                        <p class="stepLeft">
                            sql explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <h4>
                            MsSQL
                        </h4>
                        <p class="stepLeft">
                            MsSQL explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <h4 class="step">
                            Oracle
                        </h4>
                        <p class="stepLeft">
                            sql explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <h4 class="step">
                            SQLServer
                        </h4>
                        <p class="stepLeft">
                            sql explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <a style="padding-top:10px; display:block;" onclick="closePage(this)" href="javascript:void(0)">
                            Close Description
                        </a>
                    </div>
                </div>
            </div>

            <!--------------------------------SQL Column Description-------------------------------------------->
            <div class="fream upDown" ; style="border: 1px solid gold; width : 1100px; height : auto; margin : 4px;">
                <a class="fream" style="display:block;" onclick="openPage(this)" href="javascript:void(0)">
                    Read About Column
                </a>
                <div style="display : none; border: 1px solid gold; width : 1100px; height : auto;">
                    <h2>
                        Column
                    </h2>
                    <div class="stepLeft">
                        <h4>
                            Column Name
                        </h4>
                        <p class="stepLeft">
                            Column Name
                        </p>
                    </div>
                    <div class="stepLeft">
                        <h4>
                            Data Type
                        </h4>
                        <p class="stepLeft">
                            Data Type
                        </p>
                    </div>
                    <div class="stepLeft">
                        <h4 class="step">
                            Other
                        </h4>
                        <p class="stepLeft">
                            sql explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <a style="padding-top:10px; display:block;" onclick="closePage(this)" href="javascript:void(0)">
                            Close Description
                        </a>
                    </div>
                </div>
            </div>

            <!--------------------------------SQL Query Description--------------------------------------------->
            <div class="fream upDown" ; style="border: 1px solid gold; width : 1100px; height : auto; margin : 4px;">
                <a class="fream" style="display:block;" onclick="openPage(this)" href="javascript:void(0)">
                    Read About SQL Query
                </a>
                <div style="display : none; border: 1px solid gold; width : 1100px; height : auto;">
                    <h2>
                        SQL Query
                    </h2>
                    <div class="stepLeft">
                        <h4>
                            Create
                        </h4>
                        <p class="stepLeft">
                            sql explain
                        </p>
                    </div>
                    <div class="stepLeft">
                        <a style="padding-top:10px; display:block;" onclick="closePage(this)" href="javascript:void(0)">
                            Close Description
                        </a>
                    </div>
                </div>
            </div>

        </div>
          <link rel="stylesheet" href="~/css/sqlMaker.css" />
          <script src="~/js/sqlMaker.js" asp-append-version="true"></script>
          <script src="~/js/htmlController.js" asp-append-version="true"></script>
        </form>
    </body>
</html>




