@{
    ViewData["Title"] = "Update SQL maker";
}
<h2>@ViewData["Title"].</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
      
    </style>
</head>
<body>
    <script src="~/js/menu.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>

</html>
